@import '@/common/scss/colors.scss';
@import '@/common/scss/sizes.scss';

.w-toggle {
  width: 44px;
  height: 24px;
  padding: 2px;
  border-radius: calc($s-border-radius + 2px);
  background-color: $c-bg-white;
  cursor: pointer;

  * {
    border-radius: $s-border-radius;
  }

  .w-toggle-track {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $c-bg-grey;
    transition: background-color 0.5s ease;

    .w-toggle-handle {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $mb-accent-light;
      outline: 1px solid $mb-accent-light;
      background-color: $c-bg-white;
      transition: left 0.25s ease;
    }
  }

  &.w-toggle-active {
    .w-toggle-track {
      background-color: $mb-accent;

      .w-toggle-handle {
        left: calc(100% - 20px);
      }
    }
  }
}