.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  /* height: auto; */
  /* max-height: 70vh; */
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.blockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.block {
  font: inherit;
  background-color: #5acbee;
  border: 1px solid #5acbee;
  color: #201d0f;
  margin: 10px;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  justify-content: right;
  align-items: right;
}
