.subCategoryContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.subCategory {
  font: inherit;
  background-color: #ee5a66;
  border: 1px solid #ee5a66;
  color: #201d0f;
  margin: 10px;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  justify-content: right;
  align-items: right;
}
.subCategory:hover,
.subCategory:active {
  background-color: #81b6fa;
  border-color: #81b6fa;
}
