@import '@/scss/colors';

#menu {
  padding: 0 !important;
  border: none !important;
  background-color: $mb-accent;

  .menu-btn {
    width: 100%;
    margin: 0.5rem 0;

    &.menu-btn-hidden {
      display: none !important;
    }
  }
}
