#menu {
  padding: 0.5rem 0 !important;
  border: none !important;
  background-color: #2196f3;

  .menu-btn {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0 0 0;
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #dff9fb;
    cursor: pointer;
    transition: all 0.25s ease;

    .menu-btn-label {
      position: absolute;
      z-index: 100;
      left: calc(100% + 0.25rem);
      display: none;
      margin: 0;
      padding: 0 0.375rem 0.125rem 0.25rem;
      border-radius: 0 0.25rem 0.25rem 0;
      background-color: #5352ed;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        width: 0.25rem;
        transform: translateX(-100%);
        clip-path: polygon(0 50%, 100% 0%, 100% 100%);
        background-color: #5352ed;
      }

      span {
        font-size: 0.75rem;
        font-weight: bold;
        color: white;
      }
    }

    .menu-btn-img {
      width: 100%;
      height: 100%;

      .path-fill {
        fill: #2196f3;
        transition: all 0.25s ease;
      }
    }

    &:hover {
      .menu-btn-label {
        display: block;
      }

      .menu-btn-img {
        .path-fill {
          fill: #5352ed;
        }
      }
    }

    &:first-child {
      margin: 0;
    }
  }
}
