{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "no-mixed-spaces-and-tabs": "warn",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error", "nofunc"],
        "@typescript-eslint/no-non-null-assertion": "off",
        "semi": ["error", "always"],
        "prefer-const": ["off"],
        "no-console": "off",
        "max-len": [
            "warn",
            {
                "code": 100,
                "ignoreTrailingComments": true,
                "ignoreComments": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "no-trailing-spaces": ["warn", { "skipBlankLines": true, "ignoreComments": true }],
        "no-duplicate-case": "error",
        "no-irregular-whitespace": "warn"
    },
    "overrides": [
        {
            "files": ["*.json", "*.json5", "*.jsonc"],
            "parser": "jsonc-eslint-parser"
        }
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:jsonc/recommended-with-jsonc"
    ]
}
