.blockInfo {
  width: 100px;
  height: auto;
  font: inherit;
  background-color: #bee1ec;
  border: 1px solid #bee1ec;
  color: #201d0f;
  margin: 10px;
  padding: 0.3rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.popUp-text {
  font-size: 30px;
}
