#section-wrapper {
  .sectionButton {
    width: 100px;
    font: inherit;
    background-color: #5acbee;
    border: 1px solid #5acbee;
    color: #201d0f;
    margin: 10px;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
  }
}
