.subSectionButton {
  width: 100px;
  height: 30px;
  max-width: 100px;
  font: inherit;
  background-color: #bee1ec;
  border: 1px solid #bee1ec;
  color: #201d0f;
  margin: 10px;
  padding: 0.3rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.subSectionInfo {
  margin: 10px;
  padding: 0.3rem 1.5rem;
  background-color: #ecf0f1;
  border: 1px solid #ecf0f1;
  opacity: 0.5;
  border-radius: 20px;
}

#subSection {
  position: relative;
  display: inline-block;

  #popUp-wrapper {
    .subSectionInfo {
      display: inline-block;
      position: absolute;
      left: 120px;
      bottom: 2px;
      background-color: #f1f1f1;
      border-radius: 4px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .block-popUp-wrapper {
      display: inline-block;
      position: fixed;
      left: 120px;
      top: 20px;
      background-color: #f1f1f1;
      border-radius: 4px;
      text-align: center;
      height: auto;
      overflow-y: auto;
      width: 350px;
      max-height: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }
}
