html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  #workspace {
    flex-shrink: 1;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
