@import '../../scss/colors';

.menu-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  > * {
    cursor: pointer;
  }

  input {
    width: 1rem;
    height: 1rem;
    margin: 0;
  }

  label {
    margin-right: 0.5rem;
    line-height: 1;
    font-size: 0.875rem;
    color: $menu-button-color;
  }
}
