@import '../../scss/colors';

#menu-wrapper {
  position: absolute;
  z-index: 1000;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 40rem;
  background: $menu-background;

  h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mb-accent;
  }
}
