@import '../../scss/colors';

#menu-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 25vw;
  max-width: 25rem;
  height: 100vh;

  #menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-0.5rem, -50%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $menu-background;
    transition: transform 0.5s ease;

    &.menu-hidden {
      transform: translate(calc(-0.5rem + 100%), -50%);
    }

    #menu-buttons {
      margin: 0;
      padding: 0;
      list-style: none;

      li:first-of-type,
      li:last-of-type {
        margin: 0;
      }

      .menu-separator {
        width: 100%;
        height: 1px;
        margin: 0.5rem 0;
        background-color: $menu-separator;
      }

      .menu-button-wrapper,
      .menu-button-group {
        margin: 0.5rem 0;
      }

      .menu-button-wrapper {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.75rem;
        background-color: $menu-button;
        transition: background-color 0.25s ease;
        cursor: pointer;

        * {
          cursor: pointer;
        }

        &:hover {
          background-color: $menu-button-hover;
        }

        .menu-button {
          border: none;
          line-height: 1;
          font-size: 0.75rem;
          color: $menu-button-color;
          background: none;
        }
      }

      .menu-button-group {
        position: relative;

        .menu-button-wrapper {
          margin: 0;
        }

        .menu-button-toggle-wrapper {
          position: absolute;
          top: 0;
          bottom: -1rem;
          right: 100%;
          transform: translate(-0.5rem, -0.5rem);
          display: flex;
          flex-direction: row-reverse;
          border-radius: 0.5rem;

          .menu-button-wrapper {
            margin: 0.5rem 0.25rem 0.5rem 0;
            background-color: $menu-button;
          }

          .menu-button-toggle {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(calc(-100% - 0.125rem), -50%);
            display: grid;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 1rem;
            border: none;
            border-radius: 0.25rem;
            color: $menu-button-color;
            background: none;
            cursor: pointer;

            svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }

        .menu-dialog {
          position: absolute;
          bottom: 0;
          right: 100%;
          transform: translate(-1rem, 0);
          width: max-content;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: $menu-background;

          &::before {
            position: absolute;
            right: 0;
            bottom: 1.25rem;
            transform: translate(100%, 50%);
            display: block;
            content: '';
            width: 0.5rem;
            height: 0.75rem;
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            background-color: inherit;
          }

          .menu-dialog-items {
            padding: 0;
            list-style: none;

            .menu-dialog-item {
              margin-top: 0.125rem;
              border-radius: 0.25rem;
              background-color: $menu-button;

              &:first-child {
                margin-top: 0;
              }

              &:hover {
                background-color: $menu-button-hover;
              }
            }
          }
        }
      }
    }
  }
}
