@import '@/common/scss/colors.scss';
@import '@/common/scss/sizes.scss';

.w-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid $c-bg-white;
  border-radius: $s-border-radius;
  background-color: $c-bg-grey;
  cursor: pointer;

  .w-checkbox-checkmark {
    display: none;
    position: relative;
    left: 2px;
    bottom: 2px;
    width: 10.5px;
    height: 15px;
    font-size: 20px;
    color: $text-light;
  }
}

.w-checkbox-active {
  background-color: $mb-accent;

  .w-checkbox-checkmark {
    display: block;
  }
}
