@import '@/common/scss/base.scss';

#root {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  #workspace {
    flex-shrink: 1;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
