@import '@/common/scss/colors.scss';
@import '@/common/scss/sizes.scss';

#splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $c-bg-white;

  #splash-logo {
    width: 200px;
    height: auto;
  }

  #splash-progress-bar {
    width: 80%;
    height: 20px;
    margin: 20px 0;
    border-radius: $s-border-radius;
    background-color: $c-bg-grey;

    #splash-progress {
      height: 100%;
      border-radius: $s-border-radius;
      background-color: $mb-accent-light;
    }
  }
}
