$mb-accent: #0652dd;
$mb-accent-light: #1b9cfc;
$mb-accent-dark: #1b1464;

$background-light: white;

$text-light: white;
$text-dark: #192a56;

$c-bg-white: #fff;
$c-bg-grey: #d9d9d9;
$c-bg-black: #111;
