#toolbar-wrapper {
  flex-shrink: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  width: unset;
  height: 100%;

  #toolbar {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .toolbar-cluster {
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0.25rem 0;

      .toolbar-cluster-item {
        width: 3rem;
        margin: 0.25rem 0;
        padding: 0.25rem;
        border: 1px solid silver;
        border-radius: 0.25rem;

        &:first-child,
        &:last-child {
          margin: 0;
        }

        &.toolbar-cluster-item-btn {
          height: 3rem;
          border: 1px solid silver;
          border-radius: 0.25rem;
          background-color: white;
          cursor: pointer;
          transition: all 0.25s ease;

          &:hover {
            background-color: #eee;
          }
        }
      }

      &#toolbar-cluster-a {
        justify-content: flex-start;
        padding-top: 0;
      }

      &#toolbar-cluster-b {
        justify-content: flex-end;
        padding-bottom: 0;
      }
    }
  }

  .toolbar-extended {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 20rem;
    height: 100%;
    padding: 0.5rem;

    > * {
      width: 100%;
      padding: 0.5rem;
    }

    .toolbar-extended-head {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      padding-top: 0;
      padding-bottom: 0;

      .toolbar-extended-head-title {
        margin: 0;
        font-size: 1rem;
      }

      .toolbar-extended-head-btn {
        border: 1px solid silver;
        border-radius: 0.25rem;
        background-color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          background-color: #eee;
        }
      }
    }

    .toolbar-extended-content {
      flex-shrink: 1;
      height: 100%;
      border: 1px solid silver;
    }

    &.toolbar-extended-hidden {
      display: none !important;
    }
  }

  #toolbar-float {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 4rem;

    > * {
      background-color: white;
    }

    #toolbar-float-head {
      border: 1px solid silver;
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: none;
    }

    #toolbar-float-content {
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }

  #toolbar-pinned {
    padding: 0.5rem calc(0.5rem - 1px);
    border: 1px solid silver;
    border-top: 0;
    border-bottom: 0;
    background-color: white;

    #toolbar-pinned-head {
      border: 1px solid white;
      border-bottom: none;
    }

    #toolbar-pinned-content {
      border-radius: 0.25rem;
    }
  }
}
