@import '@/scss/colors';

#toolbar-wrapper {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  width: unset;
  height: 100%;

  #toolbar {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: $mb-accent-dark;

    .toolbar-cluster {
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0.25rem 0;

      .toolbar-cluster-item {
        width: 2.5rem;
        margin: 0.25rem 0;
        padding: 0.25rem;
        border-radius: 0.25rem;
        background-color: $mb-accent;

        &:first-child,
        &:last-child {
          margin: 0;
        }

        &.toolbar-cluster-item-btn {
          height: 2.5rem;
          border: none;
          border-radius: 0.25rem;
          background-color: $background-light;
          cursor: pointer;
          transition: all 0.25s ease;
        }
      }

      &#toolbar-cluster-a {
        justify-content: flex-start;
        padding-top: 0;
      }

      &#toolbar-cluster-b {
        justify-content: flex-end;
        padding-bottom: 0;
      }
    }
  }

  .toolbar-extended {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 20rem;
    height: 100%;
    padding: 0.5rem;

    > * {
      width: 100%;
      padding: 0.5rem;
    }

    .toolbar-extended-head {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      padding-top: 0;
      padding-bottom: 0;

      .toolbar-extended-head-title {
        margin: 0 0 0 0.5rem;
        font-size: 1rem;
        color: $text-light;
      }

      .toolbar-extended-head-btn {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.125rem;
        border: none;
        border-radius: 0.25rem;
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
        transition: all 0.25s ease;

        svg {
          width: 100%;
          height: 100%;

          .path-fill {
            fill: $mb-accent;
            transition: all 0.25s ease;
          }
        }

        &:hover {
          svg {
            .path-fill {
              fill: $mb-highlight;
            }
          }
        }
      }
    }

    .toolbar-extended-content {
      flex-shrink: 1;
      height: 100%;
      padding-top: 0;
    }

    &.toolbar-extended-hidden {
      display: none !important;
    }
  }

  #toolbar-float {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;

    > * {
      background-color: $mb-highlight;
    }

    #toolbar-float-head {
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: none;
    }

    #toolbar-float-content {
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }

  #toolbar-pinned {
    padding: 0.5rem;
    border-top: 0;
    border-bottom: 0;
    background-color: $mb-highlight;

    > * {
      background-color: $mb-accent;
    }

    #toolbar-pinned-head {
      border-radius: 0.25rem 0.25rem 0 0;
    }

    #toolbar-pinned-content {
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }
}
