.palette-pop-up {
  .palette-pop-up-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #eee;
    padding: 10px;
    font-size: 30px;
  }

  .palette-block-list {
    .palette-block {
      width: 100px;
      height: auto;
      font: inherit;
      background-color: #bee1ec;
      border: 1px solid #bee1ec;
      color: #201d0f;
      margin: 10px;
      padding: 0.3rem 1.5rem;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      justify-content: center;
    }

    .palette-low-shelf {
      margin: 10px;
      border: 1px solid #ddd;
      transition: 0.4s;

      .palette-low-shelf-title {
        background: #eee;
        padding: 10px 20px;
        cursor: pointer;
      }

      .palette-low-shelf-body {
        background: #fafafa;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: 200ms ease-in-out;
      }

      &.palette-low-shelf-active > .palette-low-shelf-body {
        padding: 10px 20px;
        max-height: 600px;
      }
    }
  }
}
