@import '../../scss/colors';

#artboard-wrapper {
  position: relative;
  z-index: 1;
  width: inherit;
  height: inherit;
  background: $artboard-background;

  h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  button {
    z-index: 1000;
  }
}
