@import '../../scss/values.scss';
@import '../../scss/colors.scss';

$padding: 0.25rem;
$cluster-spacing: 0.25rem;
$item-spacing: 0.5rem;

$item-width-main: 3rem;

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: $padding;

  .toolbar-cluster {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $cluster-spacing 0;

    .toolbar-cluster-item {
      margin-top: $item-spacing;
      padding: $toolbar-item-padding;
      border: 1px solid $border-light-grey;
      border-radius: $border-radius-rounded-box;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

#toolbar-main {
  .toolbar-main-cluster {
    .toolbar-main-cluster-item {
      width: $item-width-main;
    }
  }

  #toolbar-main-cluster-a {
    .toolbar-main-cluster-a-item {
      display: block;
    }
  }

  #toolbar-main-cluster-b {
    height: 100%;
    justify-content: flex-end;

    .toolbar-main-cluster-b-item {
      display: block;
    }
  }
}

#toolbar-auxiliary {
  .toolbar-auxiliary-cluster {
    align-items: flex-end;

    .toolbar-auxiliary-cluster-item {
      display: block;
    }
  }

  #toolbar-auxiliary-cluster-a {
    height: 100%;

    .toolbar-auxiliary-cluster-a-item {
      display: block;
    }
  }

  #toolbar-auxiliary-cluster-b {
    justify-content: flex-end;

    .toolbar-auxiliary-cluster-b-item {
      display: block;
    }
  }
}
