#menu {
  padding: 0 !important;
  border: none !important;
  background-color: silver;

  .menu-btn {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem;
    border: 1px solid silver;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background-color: #eee;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
