#app {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  line-height: 1;

  .lang-container{
    position: absolute;
    z-index: 10000;
    width: 50vw;
    left: 25vw;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    top: 12.5vh;
  }
}
