// shared by all components
$mb-accent: #2096f3;

// specific to artboard component
$artboard-background: silver;

// specific to builder component
$builder-background: rgba(131, 130, 130, 0.5);

// specific to menu component
$menu-background: midnightblue;
$menu-label: aliceblue;

// specific to palette component
$palette-background: crimson;
