.w-icon-button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #eee;
  padding: 0;
}

.w-icon-big {
  width: 28px;
  height: 28px;
}

.w-icon-small {
  width: 18px;
  height: 18px;
}
